<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Miriam+Libre&family=Peddana&family=Roboto+Slab&display=swap"
    rel="stylesheet">
  {% comment %}
  <link href="/static/style.css/" rel="stylesheet"> {% endcomment %}
  <title>{% block title %} {% endblock title %}</title>
  <style>
    body {
      font-family: 'Miriam Libre', sans-serif;
      font-family: 'Peddana', serif;
      font-family: 'Roboto Slab', serif;
      background-color: #0a070226;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <a class="navbar-brand" href="/"><b>Heart & General Disease Prediction</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    {% if user.is_superuser %}
    <ul class="navbar-nav mr-auto">
        <li><a class="nav-link scrollto active" href="{% url 'admin_home' %}">Home</a></li>
        <li><a class="nav-link scrollto" href="/view_doctor">View Doctor</a></li>
        <li><a class="nav-link scrollto" href="/view_patient">Patient</a></li>
        <li><a class="nav-link scrollto" href="/view_history">Searched Data</a></li>
        <li><a class="nav-link scrollto" href="/view_feedback">Feedback</a></li>
       


      </ul>
      {% elif request.user.doctor_set.all.0 %}
      <ul class="navbar-nav mr-auto">
        <li><a class="nav-link scrollto active" href="{% url 'doctor_home' %}">Home</a></li>
        <li><a class="nav-link scrollto" href="/profile_doctor">My Detail</a></li>
        <li><a class="nav-link scrollto" href="/view_history">Searched Data</a></li>
        <li><a class="nav-link scrollto" href="/add_heartdetail">Heart Prediction</a></li>
        
      </ul>
    {% elif user.is_authenticated %}
         <ul class="navbar-nav mr-auto">
        <li class="nav-item {% block homeactive %} {% endblock homeactive %}">
          <a class="nav-link" href="/patient_home"><b>Home</b> <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item {% block aboutactive %} {% endblock aboutactive %}">
          <a class="nav-link" href="/profile_doctor"><b>About</b></a>
        </li>
        <li class="nav-item {% block contactactive %} {% endblock contactactive %}">
          <a class="nav-link" href="/sent_feedback"><b>Feedback</b></a>
        </li>
        <li class="nav-item {% block blogactive %} {% endblock blogactive %}">
          <a class="nav-link" href="/view_history"><b>History</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/add_heartdetail"><b>Heart Prediction</b></a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="/add_genralhealth"><b>General Health Prediction</b></a>
        </li>
       


      </ul>
      
      {% endif %}
      {% if not user.is_authenticated %}
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <button type="button" class="btn btn-outline-success my-2 my-sm-0 ml-2" data-toggle="modal" data-target="#LoginModal">
        <b>Home</b>
      </button>
    </li>
    <li class="nav-item">
      <button type="button" class="btn btn-outline-success my-2 my-sm-0 ml-2" data-toggle="modal" data-target="#LoginModal">
        <b>About</b>
      </button>
        </li>
    <li class="nav-item">
      <button type="button" class="btn btn-outline-success my-2 my-sm-0 ml-2" data-toggle="modal" data-target="#LoginModal">
        <b>Feedback</b>
      </button>
        </li>
      </ul>
      {% endif %}
      
      {% if user.is_superuser %}
      <div class="ml-2">
        <a href="/admin" target="_blank" role="button" class="btn btn-success my-2 my-sm-0">Admin</a>
      </div>

      {% elif user.is_authenticated %}
      <div class="dropdown ml-2">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <b>Hello! {{request.user}}</b>
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="/logout">Logout</a>
        </div>

      </div>
      {% else %}
      <!-- SignUP trigger modal -->
      <button type="button" class="btn btn-success my-2 my-sm-0 ml-2" data-toggle="modal" data-target="#SignUpModal">
        SignUP
      </button>
      <!-- Login trigger modal -->
      <button type="button" class="btn btn-success my-2 my-sm-0 ml-2" data-toggle="modal" data-target="#LoginModal">
        Login 
      </button>
      <button type="button" class="btn btn-success my-2 my-sm-0 ml-2" data-toggle="modal" data-target="#LoginModal1">
        Admin Login
      </button>


      {% endif %}
    </div>
  </nav>

  {% comment %} alert from bootstrap {% endcomment %}
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }} mb-0 alert-dismissible fade show" role="alert">
    <strong> {{message}}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endfor %}



  <!-- SignUp Modal -->
  <div class="modal fade" id="SignUpModal" tabindex="-1" aria-labelledby="SignUpModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="SignUpModalLabel">SignUP Here</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="post" action="/signup">
            {% csrf_token %}
            <div class="form-group">
              <label for="username">Username(Lowercase and alphanumeric)</label>
              <input type="text" class="form-control" id="username" name="uname" placeholder="Username" required>
            </div>
            <div class="form-group">
              <label for="fname">First Name</label>
              <input type="text" class="form-control" id="fname" name="fname" placeholder="First Name" required>
            </div>
            <div class="form-group">
              <label for="lname">Last Name</label>
              <input type="text" class="form-control" id="username" name="lname" placeholder="Last Name" required>
            </div>
            <div class="form-group">
              <label for="email">Email address</label>
              <input type="email" class="form-control" id="email" name="email" placeholder="email" required>
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="pass1">Password</label>
              <input type="password" class="form-control" id="pass1" name="pwd" placeholder="Choose a strong password"
                required>
            </div>
            <div class="form-group">
              <label for="pass2">Confirm Password</label>
              <input type="password" class="form-control" id="pass2" name="pass2"
                placeholder="Enter your password again" required>
            </div>

            <div class="form-group">
                <label for="pass2">Contact</label>
                <input type="number" class="form-control" id="contact" name="contact"
                  placeholder="Contact" required>
            </div>

           

            <div>
                <label class="mb-2">Address</label>
                <input type="text" class="form-control" name="add" id="password1" placeholder="Enter Address" required="">
            </div>

            <div>
                <label>User Type</label>
                <div class="form-control">
                    User <input type="radio" placeholder="Patient" name="type" style="margin-right:4%" required="" value="Patient">
                    Doctor <input type="radio" placeholder="Patient" name="type" required="" value="Doctor">
                </div>
            </div>

            <button type="submit" class="btn btn-block btn-primary">SignUp</button>
          </form>
        </div>
        
      </div>
    </div>
  </div>



  <!-- Login Modal -->
  <div class="modal fade" id="LoginModal" tabindex="-1" aria-labelledby="LoginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="LoginModalLabel">Login</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action='/login' method='post'>
            {% csrf_token %}
            <div class="form-group">
              <label for="loginusername">Username</label>
              <input type="text" class="form-control" id="loginusername" name="uname" placeholder="Username"
                required>
            </div>

            <div class="form-group">
              <label for="pass">Enter Your Password</label>
              <input type="password" class="form-control" id="pwd" name="pwd" placeholder="Enter Your Password"
                required>
            </div>


            <button type="submit" class="btn btn-block btn-primary">Login</button>
          
          </form>
        </div>
        
      </div>
    </div>
  </div>
  <div class="modal fade" id="LoginModal1" tabindex="-1" aria-labelledby="LoginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="LoginModalLabel">Login Admin</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action='/login_admin' method='post'>
            {% csrf_token %}
            <div class="form-group">
              <label for="loginusername">Username</label>
              <input type="text" class="form-control" id="loginusername" name="uname" placeholder="Username"
                required>
            </div>

            <div class="form-group">
              <label for="pass">Enter Your Password</label>
              <input type="password" class="form-control" id="pwd" name="pwd" placeholder="Enter Your Password"
                required>
            </div>


            <button type="submit" class="btn btn-block btn-primary">Login</button>
          
          </form>
        </div>
      
      </div>
    </div>
  </div>

  {% block body %} {% endblock body %}
  
  <footer style="margin-top:14%" class="bg-light text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright:
      <a class="text-dark" href="https://mdbootstrap.com/">Heart and General Disease Prediction</a>
    </div>
    <!-- Copyright -->
  </footer>


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>

   
</body>

</html>