{% extends 'base.html' %}
{% load static %}
{% block body %}


    <div class="container">
      <h2 class="mb-4 mt-4 text-primary"> Heart & General Disease Prediction Based on Machine Learning</h2>
    </div>
      <div class="container">
        <div class="row g-0">

          <div class="col-md-12">
            <div class="gallery-item">
              <a href="{% static 'img/gallery/gallery-1.jpg' %}" class="galelry-lightbox">
                <img style="width:1200px;height:80vh;" src="{% static 'img/user_dash.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div>
        </div>

      </div>
{% endblock %}