{% extends 'base.html' %}
{% load static %}
{% block body %}

<div class="container-fluid" style="width:90%;margin-top:2%">
                    <div class="container-fluid">
                        <h1 align="center" style="font-weight:bold ; color : black">View Patient</h1>
                         </div><hr>
                                <table id="example" class="display" style="width:100%">
                                  <thead>
                                    <tr>
                                      <th>#</th>
                                      <th>Full Name</th>
                                      <th>Image</th>
                                      <th>Email</th>
                                      <th>Contact</th>
                                  </tr>
                              </thead>
                              <tbody>
                              {% for i in patient %}
                                <tr>
                                  <td>{{forloop.counter}}</td>
                                  <td>{{i.user.first_name}} {{i.user.last_name}}</td>
                                  <td>{{i.user.email}}</td>
                                  <td>{{i.contact}}</td>
                                  <td>{{i.address}}</td>
                              </tr>
                              {% endfor %}
                          </tbody>
                      </table>
                  </div>
{% endblock %}